body {
  font-family: Arial, Helvetica, sans-serif; /* built-in fonts */
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.title {
  color: #2b618e;
  font-size: 36px;
  margin-bottom: 10px;
}

.subtitle {
  color: #638dae;
  margin-top: 40px;
}

.intro {
  max-width: 600px;
  margin: 10px auto 30px;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

.gallery {
  max-width: 900px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.photo-card {
  padding: 10px;
  border-radius: 18px;
}

.photo {
  border-radius: 16px;
  margin-top: 18px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15); /* fixed */
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  width: 260px;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
}

.photo:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 22px rgba(0,0,0,0.2);
}

.caption {
  margin-top: 10px;
  font-weight: bold;
  color: #2b618e;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

/* ✅ shown only when JS adds .active */
.popup.active { display: flex; }

.popup-content {
  background: white;
  padding: 30px;
  border-radius: 18px;
  width: 460px;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
  animation: fadeIn 0.3s ease; 
  max-height: 85vh;    
  overflow-y:  auto;    
}

.popup-photo {
  width: 60vh; /*60vh */
  border-radius: 12px;
  margin-top: 10px;
}

#popup-text {
  margin-top: 12px;
  color: #555;
  line-height: 1.4;
}

audio {
  margin-top: 15px;
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 26px;
  cursor: pointer;
  color: #666;
}

.close:hover {
  color: black;
}

.topnav {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: sticky;
  top: 0;
  color: rgb(87, 214, 221)
}


@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.80); }
  to   { opacity: 1; transform: scale(1); }
}

/* Mobile responsiveness */
@media (max-width: 500px) {
  .row {
    flex-direction: column;
    gap: 20px;
  }

  .photo {
    width: 75%;
    height: 85%;
  }

  .popup-content {
    width: 90%;
    height: 85%;
  }
}
